<!doctype html>
<html lang="en">
{% load static %}

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Data validation App</title>

    <link rel="canonical" href="#">

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->

</head>
<style>
    .formclass {
        margin: 70px;

    }

    .error {
        color: brown;
    }

    .errorrow {
        background-color: tan;
    }
</style>

<body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Case Study- Data Validation</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="file_upload">Home</a>
           

        </nav>
        <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>

    <div class="row">
        <div class="col col-1">
        </div>
        <div class="col col-10 card mb-12 shadow-sm ">
            <nav class="navbar navbar-light bg-faded">
                <form class="form-inline" method="post" enctype="multipart/form-data" action="{% url 'file_upload' %}">
                    </br>
                    {% csrf_token %}
                    &nbsp;File :&nbsp;&nbsp; &nbsp; &nbsp;<input type="file" title="Upload excel file" name="data_file"
                        required="required">
                    &nbsp; &nbsp; &nbsp; <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Upload
                        Excel</button>

                </form>


            </nav>
            {% load mathfilters %}
            <p>
                {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
            </p>
        </div>

    </div>

    <hr>
    <div class="row">

        {% if rows %}
        
        <div class="col col-10 card mb-10 shadow-sm ">
            <nav class="navbar navbar-light bg-faded">
                <h5>File Data:</h5>
                <input type="text" id="country" onkeyup="filterCountry()" placeholder="Filter  Country.."
                    title="Type in a name">
                <table class="table  table-bordered " id="exceltable">
                    <thead class="thead-light">
                        <td>S.No</td>
                        <td>Country</td>
                        <td>Beverage type</td>
                        <td> Category</td>
                        <td>Volume (Mn litres)</td>
                        <td>Value (Mn USD)</td>
                        <td>Price per liter (USD)</td>
                        <td>Actual Value </td>
                        <td>Volume Share (%)</td>
                      
                    </thead>
                    {% for value in rows %}

                    <tr class="{{value.error_color}}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{value.country}}</td>
                        <td>{{value.bevarage_type}}</td>
                        <td>{{value.category}}</td>
                        <td>{{value.total_volume}}</td>
                        <td>{{value.total_value}}</td>
                        <td>{{value.unit_price}}</td>
                        <td>{{value.check_value}}</td>
                        <td>{{value.volume_share}}</td>   

                    </tr>

                    {% endfor %}
                </table>
                <i> Note:Highlighted rows are having errors</i>
            </nav>
        </div>
        <div class="col col-2 card mb-2 shadow-sm ">
            
                <br>&nbsp;&nbsp;&nbsp;&nbsp;<br>
                <h5>Error List of Rows:</h5>
                <hr>
                <b><i></i>Rule-1: </b>Category volume share > 50% </i><br>
                <b><i></i>Rule-2: </b>Category value is wrong </i><br>
                <hr>
                {% if error_list %}
                <ul class="messages">
                    {% for value in error_list %}
                    <li>{{ value.error_row }}</li>
                    {% endfor %}
                </ul>

                {% endif %}
            
        </div>
        {% endif %}
    </div>




    <script>


        function filterCountry() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("country");
            filter = input.value.toUpperCase();
            table = document.getElementById("exceltable");
            tr = table.getElementsByTagName("tr");
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }



    </script>
</body>


</html>